{
      "AWSTemplateFormatVersion" : "2010-09-09",
      "Resources" : {
          "S3Bucket" : {
             "Type" : "AWS::S3::Bucket",
             "Properties" : {
                  "BucketName" : snipbucket11102018
             }
         }
      },
      "Outputs" : {
          "S3BucketName" : {
                "Value" : {"Ref": "S3Bucket"},
                "Description" : "S3 Bucket Name"
          }
      }
}